@import "../../utils/vars";

$font_size: 1.2rem;

$input_height: calc(#{$font_size} + 8px);

$input_top_margin: 2px;

$input_width: 230px;

.search_bar {
  margin-top: 30px;
  margin-left: $train_list_left_margin;
}

.search_bar_info {
  font-weight: bold;
  font-size: $font_size;
  display: block;
}

.search_bar_input_container {
  margin-top: $input_top_margin;
  width: 100%;
  height: calc(#{$input_height} + #{$input_top_margin});
  position: relative;
}

.search_bar_input {
  border: 2px solid #e6ebe6;
  border-radius: 5px;
  width: $input_width;
  height: 100%;
  font-size: $font_size;
  background-color: #eef3ee;
}

.search_bar_error {
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
  border: 1px solid #e0cece;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #f5e1e1;
  left: calc(#{$input_width} + 10px);
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  color: #3b3b3b;
}

.search_bar_searching_text {
  margin-top: calc(-1rem - 2px);
  left: calc(#{$input_width} + 10px);
  color: #9f9f9f;
  position: absolute;
}

/*
  The icon is vertically positioned in middle of parent
*/
.search_bar_delete_icon {
  width: 12px;
  height: 12px;
  top: 0;
  left: calc(#{$input_width} - 15px);
  transform: translateY(calc(50% + 1px));
  position: absolute;
  z-index: 1;
  fill: #8c8f8c;
}

.search_bar_delete_icon:hover {
  cursor: pointer;
}
