$header_font_size: 1.4rem;

$header_height: calc(#{$header_font_size} * 2.7);

$train_list_left_margin: 32px;

$train_list_border_size: 2px;

$train_list_color_1: #ffffff;

$train_list_border_color: #f2f2f2;
