@import "../../utils/vars";

$border_color: #f2f2f2;

$border_size: 2px;

$pagination_entry_width: calc(6rem + 28px);

$pagination_entry_height: calc(1.2rem + 15px);

$list_color_1: #ffffff;

$list_color_2: #fafafa;

.train_list {
  margin-top: 30px;
  margin-left: $train_list_left_margin;
  margin-bottom: 30px;
  width: 500px;
  height: 500px;
  position: relative;
}

.train_list_pagination {
  height: calc(#{$pagination_entry_height});
}

.train_list_pagination_entry {
  height: $pagination_entry_height;
  width: $pagination_entry_width;
  display: inline-block;
  box-sizing: border-box;
  background-color: $list_color_1;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
}

.train_list_pagination_chosen {
  border-left: $border_size solid $border_color;
  border-top: $border_size solid $border_color;
  border-right: $border_size solid $border_color;
  border-bottom: $border_size solid $list_color_1;
  border-radius: 5px;
  height: calc(#{$pagination_entry_height} + #{$border_size});
  line-height: calc(#{$pagination_entry_height});
}

.train_list_pagination_unchosen {
  color: green;
  line-height: calc(#{$pagination_entry_height} + calc(#{$border_size} * 2));
}

.train_list_pagination_entry:last-child {
  left: #{$pagination_entry_width};
}

.train_list_trains {
  width: 100%;
  border-top: $border_size solid $border_color;
  background-color: $list_color_2;
  border-collapse: collapse;
}

.train_list_row {
  border-bottom: $border_size solid $border_color;
  width: 100%;
  background-color: $list_color_2;
}

.train_list_row:nth-child(odd) {
  background-color: $list_color_1;
}

.train_list_row > th {
  font-size: 1rem;
  color: #919191;
  font-weight: normal;
  transform: translateY(15%);
}

.train_list_cell {
  height: 40px;
  text-align: left;
}

.train_list_cell:first-child {
  padding-left: 10px;
}

.train_list_col_train {
  width: 28%;
}

.train_list_col_departure {
  width: 28%;
}

.train_list_col_arrival {
  width: 28%;
}

.train_list_col_arrival_time {
  width: 16%;
}
