@import "../../utils/vars";

$train_list_border_size: 2px;

$train_list_color_2: #fafafa;

$list_negative_color: #ff3d3d;

$train_list_font_size: 1.1rem;

.train_list {
  margin-top: 30px;
  margin-left: $train_list_left_margin;
  margin-bottom: 30px;
  width: 500px;
  height: 500px;
  position: relative;
}

.train_list_trains {
  width: 100%;
  border-top: $train_list_border_size solid $train_list_border_color;
  background-color: $train_list_color_2;
  border-collapse: collapse;
  font-size: $train_list_font_size;
}

.train_list_row {
  border-bottom: $train_list_border_size solid $train_list_border_color;
  width: 100%;
  background-color: $train_list_color_2;
}

.train_list_row:nth-child(odd) {
  background-color: $train_list_color_1;
}

.train_list_row > th {
  font-size: calc(#{$train_list_font_size} * 0.9);
  color: #b3b3b3;
  transform: translateY(15%);
}

.train_list_cell {
  padding-top: 3px;
  height: calc(#{$train_list_font_size} + 25px);
  line-height: calc(#{$train_list_font_size} + 25px);
  text-align: left;
  font-weight: 600;
  color: #595959;
}

.train_list_cell:first-child {
  padding-left: 10px;
}

.train_list_cell_delayed {
  padding-top: 5px;
  line-height: calc(1rem + 3px);
}

.trains_list_cell_delayed_content {
  color: $list_negative_color;
}

.trains_list_cell_delayed_content:last-child {
  font-size: calc(#{$train_list_font_size} * 0.8);
  color: grey;
}

.train_list_cell_cancelled {
  color: #d9d9d9;
}

.train_list_cell_cancelled_time {
  padding-top: 5px;
  line-height: calc(1rem + 3px);
}

.train_list_cell_cancelled_time_content {
}


.train_list_cell_cancelled_time_content:last-child {
  color: $list_negative_color;
}

.train_list_col_train {
  width: 28%;
}

.train_list_col_departure {
  width: 28%;
}

.train_list_col_arrival {
  width: 28%;
}

.train_list_col_arrival_time {
  width: 16%;
}
