@import "../../utils/vars";

.train_list {
  margin-top: 30px;
  margin-left: $train_list_left_margin;
  margin-bottom: 30px;
  width: 500px;
  height: 500px;
  position: relative;
}

.train_list_trains {
  width: 100%;
  border-top: $train_list_border_size solid $train_list_border_color;
  border-collapse: collapse;
}

.train_list_col_train {
  width: 28%;
}

.train_list_col_departure {
  width: 28%;
}

.train_list_col_arrival {
  width: 28%;
}

.train_list_col_arrival_time {
  width: 16%;
}

.train_list_no_trains {
  margin-left: 10px;
  margin-top: 8px;
  font-size: 1.1rem;
}
